# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Docker
postgres_data/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/


# Old test frontend
static/